@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: skyblue;
}

.app {
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    margin: 100px auto 0;
    padding: 30px;
}

.app h1 {
    font-weight: 700;
    font-size: 25px;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
    color: rgb(18, 144, 194);
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    font-weight: 600;
    color: rgb(18, 144, 194);
}

.btn {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 0.5px solid #222;
    color: #222;
    text-align: left;
    font-weight: 500;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]) {
    background-color: #222;
    color: #fff;
}

.btn:disabled {
    cursor: no-drop;
}

#next-btn {
    background-color: rgb(18, 144, 194);
    color: #fff;
    font-weight: 500;
    padding: 10px;
    border-radius: 4px;
    border: none;
    width: 150px;
    margin: 20px auto 0;
    cursor: pointer;
    display: none;
}

.correct {
    background-color: #52e792;
    border: 1px solid #52e792;
}

.incorrect {
    background-color: #fd8888;
    border: 1px solid #fd8888;
}